.container-box {
    margin: 20px auto;
    column-count: 4;

    @media screen and (max-width: 1200px) {
        column-count: 3;
    }

    @media screen and (max-width: 768px) {
        column-count: 2;
    }

    @media screen and (max-width: 480px) {
        column-count: 1;
    }
}