.container {
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  background-color: #fff5;
  backdrop-filter: blur(7px);
  box-shadow: 0 .4rem .8rem #0005;
  border-radius: .8rem;

  .title {
    text-align: center;
    padding-top:20px;
    padding-bottom: 10px;
    font-weight: 800;
    color: black;
    font-size: 35px;
  }

  .content{
    overflow: auto;
    display: flex;
    flex-direction: column;
    width: 90%;
    justify-content: center;

    .searchContainer {
      background-color: #fffb;
      display: flex;
      border-radius: 30px;
      height: 50px;
      align-items: center;
      margin-left: auto;
      margin-bottom: 10px;
      cursor: pointer;

      &:hover{
        .searchInput{
          width: 300px;
          padding: 10px 15px;
        }
      }

      .searchInput {
        font-size: 18px;
        border: none;
        background: none;
        padding-left: 1.5rem;
        width: 0;
        padding: 0;
        transition: all 0.25s ease-in-out;

      }

      button {
        height: 30px;
        width: 30px;
        background: none;
        border: none;
        margin-right: 1rem;
        border-radius: 50%;
        margin-left: 0.5rem;
        font-size: 30px;
      }
    }

    .userTable {
      width: 100%;
      background-color: #fffb;
      margin: 0.8rem auto;
      border-radius: 0.6rem;
      overflow: hidden;
      border-collapse: collapse;
      color: black;
      font-size: 17px;
    
      th, td {
        padding: 0.8rem;
      }
    
      th {
        position: sticky;
        top: 0;
        left: 0;
        background-color: #d5d1defe;
        font-size: 18px;
        &:first-of-type {
          border-top-left-radius: 0.6rem;
        }
        &:last-of-type {
          border-top-right-radius: 0.6rem;
        }
      }
    
      tr:nth-child(even) {
        background-color: rgba(0, 0, 0, 0.05);
      }
    
      tr:hover {
        background-color: #fff6;
      }
    
      td {
        text-align: center;
        position: relative;
    
        .icon {
          cursor: pointer;
          padding: 15px 10px;
          height: 22px;
          z-index: 1;
          border-radius: 10px;
    
          &:first-of-type {
            color: #11a529;
            &:hover {
              background-color: #ecffef;
            }
          }
    
          &:last-of-type {
            color: #f93333;
            &:hover {
              background-color: #ffefef;
            }
          }
        }
    
        &:first-of-type {
          font-weight: bold;
        }
      }
    } 

    &::-webkit-scrollbar {
      width: 0.5rem;
      height: 0.5rem;
    }
  
    &::-webkit-scrollbar-thumb {
      border-radius: 0.5rem;
      background-color: rgba(0, 0, 0, 0.3);
      visibility: hidden;
    }
  
    &:hover::-webkit-scrollbar-thumb {
      visibility: visible;
    }
  }


  .pagination {
    text-align: center;
    user-select: none;
    padding-bottom: 10px;

    li {
      display: inline-block;
      margin: 5px;

      a {
        display: flex;
        align-items: center;
        justify-content: center;
        color: #fff;
        cursor: pointer;
        text-decoration: none;
        font-size: 1.2em;
        line-height: 45px;
        width: 45px;
        height: 45px;
        border-radius: 50%;

        &:hover {
          background-color:#0AB1CE;
          border-color: #ddd;
        }
      }

      &.active a {
        background-color: #0AB1CE;
      }

      &.previous a, &.next a, &.disabled a{
        width: 80px;
        border-radius: 45px;
        transition: 0.3s ease;
      }

      &.previous a, &.next a{
        background-color: #0AB1CE;
      }

      &.disabled a {
        background-color: #ccc;
        pointer-events: none;
      }

      &.previous a:hover {
        transform: translateX(-5px);
      }

      &.next a:hover {
        transform: translateX(5px);
      }
    }
  }
}
