.album-page {
    padding: 20px;
    background-color: var(--primary-bg-color);
    min-height: 70vh;
    border-radius: 10px;

    .album-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 20px;

        h2 {
            margin: 0;
        }
    }

    .album-list {
        display: flex;
        gap: 20px;
        flex-wrap: wrap;
    }

    .album-item {
        width: 200px;
        border: 1px solid #ccc;
        border-radius: 10px;
        padding: 10px;
        text-align: center;
        background: #fff;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        cursor: pointer;

        &:hover{
            background-color: #f0f0f0;
        }

        .album-thumbnail {
            height: 150px;
            background: #f0f0f0;
            border-radius: 10px;
            margin-bottom: 10px;
            display: flex;
            justify-content: center;
            align-items: center;
            overflow: hidden;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
    }

    .create-album-button {
        padding: 10px 20px;
        font-size: 16px;
        background-color: #007bff;
        color: white;
        border: none;
        border-radius: 5px;
        cursor: pointer;

        &:hover {
            background-color: #0056b3;
        }
    }

    .new-album-form {
        margin-top: 20px;
        padding: 20px;
        border: 1px solid #ccc;
        border-radius: 10px;
        background-color: #f9f9f9;

        h3 {
            margin-top: 0;
        }

        label {
            display: block;
            margin-bottom: 5px;
        }

        input,
        textarea {
            width: 100%;
            padding: 8px;
            margin-top: 5px;
            margin-bottom: 10px;
            border: 1px solid #ccc;
            border-radius: 5px;
        }

        button {
            padding: 10px 20px;
            font-size: 16px;
            background-color: #28a745;
            color: white;
            border: none;
            border-radius: 5px;
            cursor: pointer;

            &:hover {
                background-color: #218838;
            }
        }
    }

    .album-create-placeholder {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 200px;
        height: 200px;
        border: 2px dashed gray;
        border-radius: 10px;
        cursor: pointer;
        text-align: center;
        font-size: 18px;
        color: #007bff;

    }

    .album-create-placeholder:hover {
        background-color: #f0f0f0;
    }
}
