.authForm {
    background-color: #fff;
    min-width: 100%;
    margin: 0 auto;
    padding: 10px 0;
    border-radius: 6px;
    @media (max-width: 576px) {
      width: 100%;
    }

    .container{
        padding: 30px;

        .title {
            font-size: 35px;
            font-weight: bold;
            text-align: center;
            padding-bottom: 10px;
          }
        
          .desc{
            margin-bottom: 40px;
            text-align: center;
            font-size: 16px;
          }
        
          .authFormItem {
            display: flex;
            align-items: center;
        
            label {
              font-size: 20px;
              font-weight: 600;
              width: 20%;
            }
        
            .input {
              border-radius: 10px;
              padding: 10px;
              margin: 5x;
              width: 100%;
            }
      
            .errorMsg {
              color: red;
              font-size: 14px;
              border-top: 1px solid red;
            }
          }
    }
}